.div-one {
    background-image: url("../image/image-one.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

.div-two {
    background-image: url("../image/image-two.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

.div-three {
    background-image: url("../image/image-three.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
}